.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
  }
  .hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
  }
  .hotline-phone-ring-circle {
      width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #e60808;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
  }
  .hotline-phone-ring-circle-fill {
      width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(230, 8, 8, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .hotline-phone-ring-img-circle {
      background-color: #e60808;
      width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hotline-phone-ring-img-circle .pps-btn-img {
      display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .hotline-phone-ring-img-circle .pps-btn-img img {
      width: 20px;
      height: 20px;
  }
  .hotline-bar {
    position: absolute;
    background: rgba(230, 8, 8, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
  }
  .hotline-bar > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
  }
  .hotline-bar > a:hover,
  .hotline-bar > a:active {
    color: #fff;
  }
  @-webkit-keyframes phonering-alo-circle-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.5) skew(1deg);
      -webkit-opacity: 0.1;
    }
    30% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      -webkit-opacity: 0.5;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      -webkit-opacity: 0.1;
    }
  }
  @-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.6;
    }
    100% {
      -webkit-transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.6;
    }
  }
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }
  @media (max-width: 768px) {
    .hotline-bar {
      display: none;
    }
  }
  body {  
    font-family:Arial, Helvetica, sans-serif;   
    overflow-x: hidden;
    }
     
    img {   
    max-width: 100%;
    }
     
    .preview {  
    display: -webkit-box;   
    display: -webkit-flex;  
    display: -ms-flexbox;   
    display: flex;  
    -webkit-box-orient: vertical;   
    -webkit-box-direction: normal;  
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
    } 
     
    @media screen and (max-width: 996px) { 
    .preview { 
    margin-bottom: 20px;
    }
    }
     
    .preview-pic {  
    -webkit-box-flex: 1;    
    -webkit-flex-grow: 1;   
    -ms-flex-positive: 1;   
    flex-grow: 1;
    }
     
    .preview-thumbnail.nav-tabs {   
    border: none;   
    margin-top: 15px;
    }
     
    .preview-thumbnail.nav-tabs li {    
    width: 18%; 
    margin-right: 2.5%;
    }
     
    .preview-thumbnail.nav-tabs li img {    
    max-width: 100%;    
    display: block;
    }
     
    .preview-thumbnail.nav-tabs li a {  
    padding: 0; 
    margin: 0;  
    cursor:pointer;
    }
     
    .preview-thumbnail.nav-tabs li:last-of-type {   
    margin-right: 0;
    }
     
    .tab-content {  
    overflow: hidden;
    }
     
    .tab-content img {  
    width: 100%;    
    -webkit-animation-name: opacity;    
    animation-name: opacity; 
    -webkit-animation-duration: .3s; 
    animation-duration: .3s;
    }
     
    .card { 
    margin-top: 0px;    
    background: white;   
    padding: 3em;   
    line-height: 1.5em;
    } 
     
    @media screen and (min-width: 997px) { 
    .wrapper { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    }
    }
     
    .details {  
    display: -webkit-box;
        display: -webkit-flex;  
    display: -ms-flexbox;   
    display: flex;  
    -webkit-box-orient: vertical;   
    -webkit-box-direction: normal;  
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
    }
     
    .colors {   
    -webkit-box-flex: 1;    
    -webkit-flex-grow: 1;   
    -ms-flex-positive: 1;   
    flex-grow: 1;
    }
     
    .product-title, .price,  .colors {   
    text-transform: UPPERCASE;  
    font-weight: bold;
    }
     
    .checke, .price span { 
    color: #ff9f1a;
    }
     
    .product-title, .rating, .product-description, .price, .vote {  
    margin-bottom: 15px;
    }
     
    .product-title {    
    margin-top: 0;
    }
     
    .size {
        margin-right: 10px;
    }
     
    .size:first-of-type {   
    margin-left: 40px;
    }
     
    .color {    
    display: inline-block;  
    vertical-align: middle; 
    margin-right: 10px; 
    height: 2em;    
    width: 2em; 
    border-radius: 2px;
    }
     
    .color:first-of-type {  
    margin-left: 20px;
    }
    
    
    .add-to-cart, .like {   
    background: #ff9f1a;    
    padding: 1.2em 1.5em;   
    border: none;   
    text-transform: UPPERCASE;  
    font-weight: bold;  
    color: #fff;    
    text-decoration:none; 
    
    }
     
    .add-to-cart:hover, .like:hover {   
    background: #b36800;    
    color: #fff;    
    text-decoration:none;
    }
     
    .not-available {    
    text-align: center; 
    line-height: 2em;
    }
     
    .not-available:before { 
    font-family: fontawesome;   
    content: "\f00d";   
    color: #fff;
    }
     
    
     
    .tooltip-inner {    
    padding: 1.3em;
    } 
     
    @-webkit-keyframes opacity { 
    0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
    100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
    } 
     
    @keyframes opacity { 
    0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
    100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
    }
    .container {
        padding-top: 40px;
        width: 100%;
        
    }
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: sans-serif;
	background: #f6f9fa;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/

		.social-button{
		  display: inline-grid;
			position: fixed;
			background-color:rgba(255,255,255,0) !important;
			bottom: 15px;
			right: 20px;
			min-width: 45px;
			text-align: center;
			z-index: 99999;
		}
		.social-button-content{
		  display: inline-grid;   
		}
		.social-button a {padding:8px 0;cursor: pointer;position: relative;}
		.social-button i{
		  width: 40px;
			height: 40px;
			background: #F05A5E;
			color: #fff;
			border-radius: 100%;
			font-size: 20px;
			text-align: center;
			line-height: 1.9;
			position: relative;
			z-index: 999;
		}
		.social-button span{
		  display: none;
		}
		
		.mes:hover > span, .zalo:hover > span{display: block}
		.social-button a span {
			border-radius: 2px;
			text-align: center;
			background: #ffffff;
			padding: 9px;
			display: none;
			width: 180px;
			margin-right: 10px;
			position: absolute;
			color: #ffffff;
			z-index: 999;
			top: 9px;
			right: 20px;
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 150px;
      right: 20px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: rgb(0, 157, 255);
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }
    
    #myBtn:hover {
      background-color: #9efef9;
    }
    .title-divider {
      display: block;
      max-width: 50px;
      height: 4px;
      background: rgba(226, 41, 61, 1);
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-left: auto;
      margin-right: auto;
  }
  .tint {
    padding-top: 40px;
        width: 95%;
  }
  #aa:hover {
    background-color: #000000;
    color: white;
    padding: 5px;
  }
  .header{
    position: fixed;
    width: 100%;
    height: 76px;
    background-color: #3498db; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 20;
    
}
.logo{
    font-size: 25px;
    color: black;
    padding-left: 100px;

}
.logo:hover{
    color: green;
}
.header form{
width: 260px;
position: relative;
}

.header form input{
    width: 100%;
    padding: 8px 40px 8px 8px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.header form input::placeholder{
    color: #777777;
    font-size: 16px;    
}

.header form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 12px;
    top: 10px;
}

.header form button i{
    font-size: 16px;
    color: #333;
}
.fa-cart-shopping{
    font-size: 30px;
    
}
.fa-cart-shopping:hover{
    color: green;
}
.fa-user{
    font-size: 30px;
    padding-right: 20px;
}
.fa-user:hover{
    color: green;
}
.menu{
    position: relative;
}
.menu a{
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
}
.menu a:hover{
    color: green;
}
.footer-container{
  max-width: 1170px;
  margin: auto;
  }
  .footer {
      border-top:#3498db 4px solid;
      clear: both;
      padding: 70px 0;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .footer-col{
      width: 25%;
      padding: 0 15px;
  }
  .footer-col h4{
      font-size: 18px;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: bold;
      position: relative;
  }
  .footer-col h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 2px;
      background-color: #e91e63;
      box-sizing: border-box;
      width: 50px;
  }
  .footer-col ul li{
      margin-bottom: 10px;
      display: block;
  }
  .footer-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #333;
      text-decoration: none;
      font-weight: 300;
      display: block;
      transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
      padding-left: 8px;
      color: green;
  }
  .footer-col .social-link a{
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      background-color: gray;
      border-radius: 50%;
      transition: all 0.3s ease;
  }
  .footer-col .social-link a:hover{
      background-color: #3498db;
  }
  